# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Static Libraries
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Build folders
build/
bin/
obj/

# Backup files
*~
*.bak
*.swp
*.tmp


# Other files and folders
.DS_Store
.vscode/
.vs/
*.log
*.tmp
*.user
*.suo
*.ipynb_checkpoints

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake-build-*/

# If you're using Make
Makefile
*.d

# Dependency directories (if you're not including dependencies in your repo)
deps/
vendor/


# randos 
__pycache__/
rand_structures/
*.egg-info
*.egg
Lysozyme/
test_data/
carbonarapy/
generate_structure
predictStructureQvary
CarbonaraDataTools.py
predictionSetupCameron2.ipynb

# data
!newFitData/test_simple/fitdata/.gitkeep
!newFitData/test_multi/fitdata/.gitkeep
test_data/

# junk draw
cppcheck_output.txt
BUmoleculeFitAndState.cpp
BUmoleculeFitAndState.h
clearup_test.py
CarbonaraDataTools.py
carbonarapy.egg-info/
predictionSetupCameron2.ipynb
carbonarapy/
setup.py
test_build.py






