<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure Parameters</title>
</head>
<body>
    <h1>Configure Parameters</h1>
    <form action="{{ url_for('configure_parameters') }}" method="post">
        <label for="save_location">Save Location:</label>
        <input type="text" name="save_location" id="save_location"><br><br>
        <label for="constrained_distances">Constrained Distances:</label>
        <input type="text" name="constrained_distances" id="constrained_distances"><br><br>
        <label for="qmin">Qmin:</label>
        <input type="text" name="qmin" id="qmin"><br><br>
        <label for="qmax">Qmax:</label>
        <input type="text" name="qmax" id="qmax"><br><br>
        <label for="fit_steps">Max Fit Steps:</label>
        <input type="text" name="fit_steps" id="fit_steps"><br><br>
        <input type="submit" value="Generate Script">
    </form>
</body>
</html>
